<% if logged_in? %>
	<div class="row">
		<aside class="col-lg-3 col-sm-4">
			<div class="profile">
				<div class="row no-gutters">
					<%= image_tag current_user.cover.url, class: "profile-cover-sm" %>
				</div>
				<%= render 'partials/profile_info_sm', @user => current_user %>
				<%= render 'partials/profile_stats' %>
			</div>
			<div class="trending d-none d-sm-block">
				<h5>Trends for you</h5>
				<p>trending trending trending</p>
			</div>
		</aside>
		<div class="col-lg-6 col-sm-8">
			<div class="chirp-form form-align-right">
				<%= render 'forms/chirp_form' %>
			</div>
			<%= render 'users/feed' %>
		</div>
		<div class="col-3 d-none d-lg-block">
			<div class="suggestions">
				<h5>Who to follow</h5>
			</div>
			<div class="footer">
				<small>
					&copy; 2018 Canary	&nbsp;
					<%= link_to "About", about_path %>	&nbsp;
					<%= link_to "Help Center", help_path %> &nbsp;
					<%= link_to "Terms", "" %>	&nbsp;
					<%= link_to "Privacy Policy", "" %>	&nbsp;
					<%= link_to "Cookies", "" %>	&nbsp;
					<%= link_to "Brand", "" %>	&nbsp;
					<%= link_to "Status", "" %>	&nbsp;
					<%= link_to "Developers", "" %>	&nbsp;
				</small>
			</div>
		</div>
	</div>
<% else %>
	<div class="center jumbotron">
		<h1 class="text-center">Canary</h1>
		<h2 class="text-center">Welcome!</h2>
		<%= link_to "Sign up now!", signup_path, class: "btn-lrg btn-primary btn-round btn-no-border center-horizontal" %>
	</div>
<% end %>