<% if logged_in? %>
	<div class="row">
		<aside class="col-md-3">
			<div class="user-excerpt">
				<%= render 'shared/user_info' %>
				<%= render 'shared/stats' %>
			</div>
			<div class="trending">
				<h3>Trends for you</h3>
				<p>trending trending trending</p>
			</div>
		</aside>
		<div class="col-md-6">
			<%= render 'shared/chirp_form' %>
			<%= render 'shared/feed' %>
		</div>
		<div class="col-md-3">
			<h3>Who to follow</h3>
		</div>
	</div>
<% else %>
	<div class="center jumbotron">
		<h1>Canary</h1>
		<h2>Welcome!</h2>
		<%= link_to "Sign up now!", signup_path, class: "btn btn-lrg btn-primary" %>
	</div>
<% end %>