<div id="chirp-<%= chirp.id %>">
	<div class="row no-gutters">
		<div class="col-auto">
			<%= link_to gravatar_for(chirp.user, size: 50), chirp.user, class: 'chirp-avatar' %>
			<% if chirp.children.size > 0 %>
				<hr class="hr-vertical">
			<% end %>
		</div>
		<div class="chirp-content col">
			<%= link_to chirp.user.name, chirp.user %> <%= link_to "@#{chirp.user.username}", chirp.user%> · <%= time_ago_in_words(chirp.created_at) %>
			<% if current_user?(chirp.user) %>
				<a class="float-right" data-toggle="dropdown" id="chirpMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<%= icon('fas', 'angle-down') %>
				</a>
				<div class="dropdown-menu" aria-labelledby="chirpMenuButton">
					<!-- Edit modal path -->
					<%= link_to "Edit chirp", edit_chirp_path(chirp), class: "dropdown-item", remote: true, data: { target: '#modal_container', toggle: 'modal' } %>
					<!-- Edit modal path -->
					<%= link_to "Delete chirp", chirp, class: "dropdown-item", method: :delete, data: { confirm: "Are you sure?" } %>
				</div>
			<% end %>
			<p>
				<%= chirp.content %>
			</p>
			<%= image_tag chirp.picture.url if chirp.picture? %>
			<div class="row chirp-footer">
				<!-- comment btn and comment count -->
				<div class="col-auto">
					<%= link_to reply_chirp_path(current_user, parent_id: chirp.id), remote: true, data: { target: '#modal_container', toggle: 'modal' } do %>
						<%= icon('far', 'comment') %> <%= chirp.children.size if chirp.children.size > 0 %>
					<% end %>
				</div>
				<!-- Rechirp btn and rechirp count -->
				<div class="col-auto">
					<%= link_to rechirp_chirp_path(current_user, reference_id: chirp.id), remote: true, data: { target: '#modal_container', toggle: 'modal' } do %>
						<%= icon('fas', 'retweet') %> <%= count_rechirps(chirp) %>
					<% end %>
				</div>
				<!-- like btn and like count -->
				<div class="col-auto">
					<% if current_user.liked? chirp %>
						<%= link_to unlike_chirp_path(chirp), method: :put do %>
							<%= icon('fas', 'heart') %>
							<% if chirp.get_likes.size > 0 %>
								<%= chirp.get_likes.size %>
							<% end %>
						<% end %>
					<% else %>
						<%= link_to like_chirp_path(chirp), method: :put do %>
							<%= icon('far', 'heart') %>
							<% if chirp.get_likes.size > 0 %>
								<%= chirp.get_likes.size %>
							<% end %>		
						<% end %>
					<% end %>
				</div>
				<!-- Direct message btn -->
				<div class="col-auto">
					<%= icon('far', 'envelope') %>
				</div>
			</div>
		</div>
	</div>
</div>