<div id="chirp-<%= chirp.id %>" class="chirp-excerpt">
	<div class="row no-gutters">
		<div class="col-auto">
			<%= link_to chirp.user do %>
				<%= image_tag chirp.user.avatar.url, class: "profile-pic-sm" %>
			<% end %>
		</div>
		<div class="chirp-content col">
			<%= link_to chirp.user.name, chirp.user %> <%= link_to "@#{chirp.user.username}", chirp.user%> · <%= time_ago_in_words(chirp.created_at) %>
			<p>
				<%= markdown(chirp.content) %>
			</p>
			<%= image_tag chirp.picture.url if chirp.picture? %>
		</div>
	</div>
</div>