<div id="chirp-<%= chirp.id %>">
	<div class="row">
		<div class="col-2">
			<%= link_to gravatar_for(chirp.user, size: 50), chirp.user %>
		</div>
		<div class="chirp-content col-10">
			<%= link_to chirp.user.name, chirp.user %> @<%= link_to chirp.user.username, chirp.user%> · <%= time_ago_in_words(chirp.created_at) %>
			<% if current_user?(chirp.user) %>
				<a class="float-right" data-toggle="dropdown" id="chirpMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<%= icon('fas', 'ellipsis-v') %>
				</a>
				<div class="dropdown-menu" aria-labelledby="chirpMenuButton">
					<a href="" class="dropdown-item">edit</a>
					<%= link_to "delete", chirp, class: "dropdown-item", method: :delete, data: { confirm: "Are you sure?" } %>
				</div>
			<% end %>
			<p>
				<%= chirp.content %>
			</p>
			<%= image_tag chirp.picture.url if chirp.picture? %>
		</div>
	</div>
	<div class="row">
		<!-- comment btn and comment count -->
		<div class="col-2">
				<%= icon('far', 'comment') %>
		</div>
		<!-- like btn and like count -->
		<div class="col-2">
			<% if current_user.liked? chirp %>
				<%= link_to unlike_chirp_path(chirp), method: :put do %>
					<%= icon('fas', 'heart') %>
					<% if chirp.get_likes.size > 0 %>
						<%= chirp.get_likes.size %>
					<% end %>
				<% end %>
			<% else %>
				<%= link_to like_chirp_path(chirp), method: :put do %>
					<%= icon('far', 'heart') %>
					<% if chirp.get_likes.size > 0 %>
						<%= chirp.get_likes.size %>
					<% end %>		
				<% end %>
			<% end %>
		</div>
	</div>
</div>