<%= form_for(@chirp, html: { multipart: true }) do |f| %>
	<%= f.hidden_field :parent_id %>
	<div class="form-group row">
		<div class="col-auto">
			<%= gravatar_for(current_user, size: 25) %>
		</div>
		<div class="col">
			<%= f.text_area :content, class: 'form-control', placeholder: "What's happening?", rows: '3' %>
		</div>
	</div>
	<div class="chirpFormFooter clearfix">
		<%= f.file_field :picture, accept: 'image/*', id: "chirpPictureUpload" %>
		<%= f.submit "Chirp", class: "btn-primary btn-round btn-no-border float-right" %>
	</div>
<% end %>

<script type="text/javascript">
	$('#chirp_picture').bind('change', function() {
		var size_in_megabytes = this.files[0].size / 1024 / 1024;
		if (size_in_megabytes > 5) {
			alert('Maximum file size is 5MB');
		}
	});
</script>