<div class="modal-header">
	<h5 class="text-center">Rechirp this to your followers?</h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	  <i class="fas fa-times"></i>
	</button>
</div>
<div class="modal-body">
	<%= form_for(@chirp, html: { multipart: true }) do |f| %>
		<%= f.hidden_field :reference_id %>
		<div class="form-group row">
			<div class="col chirp-content">
				<%= f.text_area :content, class: 'form-control', placeholder: "What's happening?", rows: '1' %>
			</div>
		</div>
		<div class="chirpFormFooter clearfix rechirp-form">
			<%= f.file_field :picture, accept: 'image/*', id: "chirpPictureUpload", class: "d-none" %>
			<div class="row no-gutters chirp-reference-content">
				<div class="col-auto">
					<%= link_to gravatar_for(@reference.user, size: 50), @reference.user, class: 'inline-chirp-avatar' %>
				</div>
				<div class="chirp-content col">
					<%= link_to @reference.user.name, @reference.user %> <%= link_to "@#{@reference.user.username}", @reference.user%> · <%= time_ago_in_words(@reference.created_at) %>
					<p>
						<%= @reference.content %>
					</p>
					<%= image_tag @reference.picture.url if @reference.picture? %>
				</div>
			</div>
			<%= f.submit "Chirp", class: "btn-primary btn-round btn-no-border float-right" %>
		</div>
	<% end %>
</div>