<div class="modal-header">
	<h5 class="text-center">Reply to <%= @parent.user.name %></h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	  <i class="fas fa-times"></i>
	</button>
</div>
<div class="modal-body">
		<div class="row no-gutters">
		<div class="col-auto">
			<%= link_to gravatar_for(@parent.user, size: 50), @parent.user, class: 'inline-chirp-avatar' %>
		</div>
		<div class="chirp-content col">
			<%= link_to @parent.user.name, @parent.user %> <%= link_to "@#{@parent.user.username}", @parent.user%> · <%= time_ago_in_words(@parent.created_at) %>
			<p>
				<%= @parent.content %>
			</p>
			<%= image_tag @parent.picture.url if @parent.picture? %>
		</div>
	</div>
	<p>Replying to <%= link_to "@#{@parent.user.username}", @parent.user %></p>
	<%= render 'chirps/full_form' %>
</div>