<div class="modal-header">
	<h5 class="text-center">Reply to <%= @parent.user.name %></h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	  <i class="fas fa-times"></i>
	</button>
</div>
<div class="modal-body">
		<div class="row no-gutters">
		<div class="col-auto">
			<%= link_to gravatar_for(@parent.user, size: 50), @parent.user, class: 'inline-chirp-avatar' %>
		</div>
		<div class="chirp-content col">
			<%= link_to @parent.user.name, @parent.user %> <%= link_to "@#{@parent.user.username}", @parent.user%> · <%= time_ago_in_words(@parent.created_at) %>
			<p>
				<%= @parent.content %>
			</p>
			<%= image_tag @parent.picture.url if @parent.picture? %>
		</div>
	</div>
	<div class="reply-form">
		<p>Replying to <%= link_to "@#{@parent.user.username}", @parent.user %></p>
		<%= form_for(@chirp, html: { multipart: true }) do |f| %>
			<%= f.hidden_field :parent_id %>
			<%= f.hidden_field :reference_id %>
			<div class="form-group row no-gutters">
				<div class="col chirp-content">
					<%= f.text_area :content, class: 'form-control', placeholder: "What's happening?", rows: '3' %>
				</div>
			</div>
			<div class="chirpFormFooter clearfix">
				<%= f.file_field :picture, accept: 'image/*', id: "chirpPictureUpload", class: "d-none" %>
				<%= f.submit "Chirp", class: "btn-primary btn-round btn-no-border float-right" %>
			</div>
		<% end %>
	</div>
</div>