<div class="modal" tabindex="-1" role="dialog" id="modalChirp">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<!-- Chirp header -->
				<div class="row">
					<!-- User image -->
					<div class="col-auto">
						<%= link_to gravatar_for(chirp.user, size: 50), chirp.user %>
					</div>
					<!-- User name and username -->
					<div class="col">
						<%= link_to chirp.user.name, chirp.user %><br>
						@<%= link_to chirp.user.username, chirp.user%>
					</div>
					<!-- Follow/unfollow btn || edit/delete btn -->
					<div class="col-auto">
						<% if current_user?(chirp.user) %>
							<a data-toggle="dropdown" id="chirpMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<%= icon('fas', 'angle-down') %>
							</a>
							<div class="dropdown-menu" aria-labelledby="chirpMenuButton">
								<%= link_to "Edit chirp", edit_chirp_path(chirp), class: "dropdown-item", method: :get %>
								<%= link_to "Delete chirp", chirp, class: "dropdown-item", method: :delete, data: { confirm: "Are you sure?" } %>
							</div>
						<% elsif logged_in? %>
							<%= render 'follow_form' %>
						<% end %>
					</div>
				</div>
				<!-- Chirp content -->
				<div class="row">
					<div class="col">
						<p><%= chirp.content %></p>
						<%= image_tag chirp.picture.url if chirp.picture? %>
					</div>
				</div>
				<hr>
				<!-- Chirp created at date -->
				<div class="row">
					<div class="col">
						<%= chirp.created_at.strftime("%I:%M %p - %d %b %Y") %>
					</div>
				</div>
				<hr>
				<div class="row">
					<!-- comment btn and comment count -->
					<div class="col-auto">
						<%= link_to chirps_path(:parent_id => chirp) do %>
							<%= icon('far', 'comment') %>
						<% end %>
					</div>
					<!-- Rechirp btn and rechirp count -->
					<div class="col-auto">
						<%= icon('fas', 'retweet') %>
					</div>
					<!-- like btn and like count -->
					<div class="col-auto">
						<% if current_user.liked? chirp %>
							<%= link_to unlike_chirp_path(chirp), method: :put do %>
								<%= icon('fas', 'heart') %>
								<% if chirp.get_likes.size > 0 %>
									<%= render "chirps/likes", chirp: chirp %>
								<% end %>
							<% end %>
						<% else %>
							<%= link_to like_chirp_path(chirp), method: :put do %>
								<%= icon('far', 'heart') %>
								<% if chirp.get_likes.size > 0 %>
									<%= chirp.get_likes.size %>
								<% end %>		
							<% end %>
						<% end %>
					</div>
					<!-- Direct message btn -->
					<div class="col-auto">
						<%= icon('far', 'envelope') %>
					</div>
				</div>
				<hr>
				<!-- Reply form -->
				<div class="row">
				</div>
				<hr>
				<!-- Comments section -->
				<div class="row">
					<div class="col">
						<%= chirp.children.each do |child| %>
							<%= render 'chirps/inline_chirp', chirp: child %>
						<% end %>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>