<div class="modal-header">
	<h5 class="text-center">Rechirp this to your followers?</h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	  <i class="fas fa-times"></i>
	</button>
</div>
<div class="modal-body">
	<%= form_for(@chirp, html: { multipart: true }) do |f| %>
		<%= f.hidden_field :parent_id %>
		<%= f.hidden_field :reference_id %>
		<div class="form-group row no-gutters">
			<div class="col chirp-content">
				<%= f.text_area :content, class: 'form-control', placeholder: "What's happening?", rows: '3' %>
			</div>
		</div>
		<div class="chirpFormFooter clearfix rechirp-form">
			<%= f.file_field :picture, accept: 'image/*', id: "chirpPictureUpload", class: "d-none" %>
			<div class="row chirp-reference-content">
				<%= render 'chirps/chirp', chirp: @reference %>
			</div>
			<%= f.submit "Chirp", class: "btn-primary btn-round btn-no-border float-right" %>
		</div>
	<% end %>
</div>