<div class="footer">
	<small>
		&copy; 2018 Blazon	&nbsp;
		<%= link_to "About", about_path %>	&nbsp;
		<%= link_to "Help Center", help_path %> &nbsp;
		<%= link_to "Developer", developer_path %>	&nbsp;
		<%= link_to "Terms", terms_path %>	&nbsp;
		<%= link_to "Cookies", cookies_path %>	&nbsp;
		<a href="https://www.twitch.tv/fawnnne" target="_blank">Twitch</a>	&nbsp;
		<a href="https://www.twitter.com/fawnnne" target="_blank">Twitter</a>	&nbsp;
		<a href="https://www.instagram.com/fawnnne" target="_blank">Instagram</a>	&nbsp;
		<a href="https://discord.gg/RwcKEHP" target="_blank">Discord</a>	&nbsp;
	</small>
</div>