<% @user ||= current_user %>
<div class="row padding-10 ">
	<div class="col col-sm-auto">
		<%= link_to current_user, class: "profile-stat-link"  do %>
			<span class="profile-stat-heading">Posts</span><br><span class="profile-stat-number"><%= @user.posts.count %></span>
		<% end %>
	</div>
	<div class="col col-sm-4">
		<a class="profile-stat-link" href="<%= following_user_path(@user) %>">
			<span class="profile-stat-heading">Following</span><br><span class="profile-stat-number"><%= @user.following.count %></span>
		</a>
	</div>
	<div class="col col-sm-4">
		<a class="profile-stat-link" href="<%= followers_user_path(@user) %>">
			<span class="profile-stat-heading">Followers</span><br><span class="profile-stat-number"><%= @user.followers.count %></span>
		</a>
	</div>
</div>