<div class="row no-gutters profile-cover-sm-container">
	<%= image_tag user.cover.url, class: "profile-cover-sm" %>
</div>
<div class="row no-gutters padding-10">
	<div class="col-auto">
		<%= link_to user do %>
			<%= image_tag user.avatar.url, class: "profile-pic-md" %>
		<% end %>
	</div>
	<div class="col align-self-end profile-links">
		<%= link_to user.name, user, class: "profile-links-name" %><br>
		<%= link_to "@#{user.username}", user, class: "profile-links-username" %>
	</div>
</div>