<% provide(:title, "User Index") %>

<h1 class="text-center">User Index</h1>
<div class="row">
	<% @users.each do |user| %>
		<div class="row no-gutters profile-info-sm">
			<%= image_tag user.cover.url, class: "profile-cover-sm negative-margin-10" %>
			<div class="col-auto">
				<%= link_to user do %>
					<%= image_tag user.avatar.url, class: "profile-pic-md" %>
				<% end %>
			</div>
			<div class="col align-self-end profile-links">
				<%= link_to user.name, user %><br>
				<%= link_to "@#{user.username}", @user %>
			</div>
			<div class="col-auto align-self-end">
				<% if current_user.admin? && !current_user?(user) %>
					<%= button_to "delete", user, class: "btn-danger btn-round btn-no-border", method: :delete, data: { confirm: "Are you sure?" } %>
				<% end %>
			</div>
		</div>
	<% end %>
</div>

<ul class="pagination">
	<%= will_paginate %>
</ul>