<% provide(:title, @user.name) %>

<div class="row">
	<aside class="col-md-4">
		<div class="user_info">
			<h1>
				<%= gravatar_for @user %>
				<p><%= @user.username %> | <%= @user.name %></p>
			</h1>
		</div>
		<div class="stats">
			<%= render 'shared/stats' %>
		</div>
	</aside>
	<div class="col-md-8">
		<%= render 'follow_form' if logged_in? %>
		<% if @user.chirps.any? %>
			<h3>Chirps<br>
			(<%= @user.chirps.count %>)</h3>
			<div class="chirps">
				<%= render @chirps %>
			</div>
			<div class="pagination">
				<%= will_paginate @chirps, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
			</div>
		<% end %>
	</div>
</div>