<% provide(:title, @title) %>

<div class="profile-cover-container">
	<%= image_tag @user.cover.url, class: "profile-cover-lg" %>
</div>
<%= render 'layouts/profile_nav' %>
<div class="row">
	<!-- User profile -->
	<aside class="col-lg-3 col-sm-4">
		<%= render "partials/profile_info_lrg" %>
		<%= render "partials/profile_album" %>
	</aside>
	<!-- Followers/Following -->
	<div class="col-lg-9 col-sm-8 col-12">
		<h3><%= @title %></h3>
		<div class="row no-gutters">
			<% @users.each do |user| %>
	      <div class="row no-gutters profile-info-follow">
		      <%= render 'partials/profile_info_sm', user: user %>
		     	<div class="col-12">
		     		<p class="padding-10"><%= user.bio %></p>
		     	</div>
	      </div>
			<% end %>
		</div>
	</div>
</div>

<ul class="pagination">
	<%= will_paginate %>
</ul>