<% provide(:title, @title) %>

<%= render 'layouts/profile_nav' %>
<div class="row">
	<!-- User profile -->
	<div class="col-md-3">
		<%= render "partials/profile_info_lrg" %>
		<%= render "partials/profile_album" %>
	</div>
	<!-- Followers/Following -->
	<div class="col-9">
		<h3><%= @title %></h3>
		<div class="row">
			<% @users.each do |user| %>
				<div class="row no-gutters profile-info-sm">
					<%= image_tag current_user.cover.url, class: "profile-cover-sm negative-margin-10" %>
					<div class="col-auto">
						<%= link_to user do %>
							<%= image_tag user.avatar.url, class: "profile-pic-md" %>
						<% end %>
					</div>
					<div class="col align-self-end profile-links">
						<%= link_to user.name, user %><br>
						<%= link_to "@#{user.username}", user %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</div>