<% provide(:title, "#{@user.name} (@#{@user.username})") %>

<div class="profile-cover-container">
	<%= image_tag @user.cover.url, class: "profile-cover-lg" %>
</div>
<%= render 'layouts/profile_nav' %>
<div class="row">
	<!-- User profile -->
	<aside class="col-lg-3 col-sm-4">
		<%= render "partials/profile_info_lrg" %>
		<%= render "partials/profile_album" %>
	</aside>
	<!-- Chirps -->
	<div class="col-lg-6 col-sm-8">
		<!-- Chirps if any -->
		<%= render @user.chirps %>
		<div class="pagination">
			<%= will_paginate @chirps, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
			
		</div>
	</div>
	<!-- Who to follow??? -->
	<div class="col-3 d-none d-lg-block suggestions">
		<h3>Who to follow</h3>
	</div>
</div>