<% provide(:title, "#{@user.name} (@#{@user.username})") %>

<div class="row">
	<aside class="col-md-3">
		<div class="user-profile">
			<%= gravatar_for @user, class: "" %>
			<div>
				<%= link_to @user.name, @user %><br>
				<%= link_to @user do %>
					@<%= @user.username %>
				<% end %>
			</div>
		</div>
	</aside>
	<div class="col-md-6">
		<nav class="navbar navbar-expand-xs navbar-light bg-light">
			<ul class="navbar-nav flex-row">
				<!--Chirp Count-->
				<li class="nav-item">
					<%= link_to current_user, class: "nav-link" do %>
						<small id="following" class="stat"><b>Chirps</b><br><%= @user.chirps.count %></small>
					<% end %>
				</li>
				<!--Following Count-->
				<li class="nav-item">
					<a href="<%= following_user_path(@user) %>" class="nav-link">
						<small id="following" class="stat"><b>Following</b><br><%= @user.following.count %></small>
					</a>
				</li>
				<!-- Followers Count -->
				<li class="nav-item">
					<a href="<%= followers_user_path(@user) %>" class="nav-link">
						<small id="followers" class="stat"><b>Followers</b><br><%= @user.followers.count %></small>
					</a>
				</li>
				<!--Likes Count-->
				<li class="nav-item">
					<a href="" class="nav-link">
						<small><b>Likes</b><br></small>
					</a>
				</li>
			</ul>
			<!--Follow/Unfollow || Edit Profile-->				
			<% if (current_user == @user) %>
				<%= button_to "Edit profile", edit_user_path(current_user), class: "btn btn-primary mr-sm-2" %>
			<% elsif logged_in? %>
				<%= render 'follow_form' %>
			<% end %>
		</nav>
		<% if @user.chirps.any? %>
			<div class="chirps">
				<%= render @chirps %>
			</div>
			<div class="pagination">
				<%= will_paginate @chirps, renderer: WillPaginate::ActionView::BootstrapLinkRenderer %>
			</div>
		<% end %>
	</div>
	<div class="col-md-3">
		<h3>Who to follow</h3>
	</div>
</div>