<%= form_for(@post, html: { multipart: true }) do |f| %>
	<%= f.hidden_field :parent_id %>
	<%= f.hidden_field :reference_id %>
	<div class="form-group row no-gutters">
		<div class="col-auto">
			<%= image_tag current_user.avatar.url, class: "profile-pic-xs" %>
		</div>
		<div class="col post-content">
			<%= f.text_area :content, class: 'form-control form-content', placeholder: "What's happening?", rows: '3' %>
			<div class="row post-footer">
				<div class="col-12">
					<%= f.label :picture, class: "file-container" do %>
						<span class="file-container-label"><%= icon('fas', 'camera') %> add photo</span>
						<%= f.file_field :picture, accept: 'image/*', id: "postPictureUpload" %>
					<% end %>
					<%= f.submit "Post", class: "btn-primary btn-round btn-no-border float-right" %>
				</div>
			</div>
		</div>
	</div>
<% end %>

<script type="text/javascript">
	$('#post_picture').bind('change', function() {
		var size_in_megabytes = this.files[0].size / 1024 / 1024;
		if (size_in_megabytes > 5) {
			alert('Maximum file size is 5MB');
		}
	});
</script>