<div class="modal-header">
	<h5 class="text-center">Repost this to your followers?</h5>
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
	  <i class="fas fa-times"></i>
	</button>
</div>
<div class="modal-body">
	<%= form_for(@post, html: { multipart: true }) do |f| %>
		<%= f.hidden_field :reference_id %>
			<div class="repost-form">
				<%= f.text_area :content, class: 'form-control form-content', placeholder: "What's happening?", rows: '1' %>
			</div>
		<div class="postFormFooter clearfix modal-padding-20">
			<%= f.file_field :picture, accept: 'image/*', id: "postPictureUpload", class: "d-none" %>
			<div class="row no-gutters">
				<div class="col-auto">
					<%= link_to @reference.user do %>
						<%= image_tag @reference.user.avatar.url, class: "profile-pic-sm" %>
					<% end %>
				</div>
				<div class="post-content col">
					<%= link_to @reference.user.name, @reference.user, class: "post-name" %> <%= link_to "@#{@reference.user.username}", @reference.user, class: "post-username" %><span class="post-date"> · <%= time_ago_in_words(@reference.created_at) %></span>
					<p>
						<%= markdown(@reference.content) %>
					</p>
					<%= image_tag @reference.picture.url if @reference.picture? %>
				</div>
			</div>
			<%= f.submit "Post", class: "btn-primary btn-round btn-no-border float-right" %>
		</div>
	<% end %>
</div>