<div class="navbar-light bg-light row profile-nav">
	<!-- Stats Bar -->
	<nav class="navbar navbar-expand-xs col-6 offset-4">
		<ul class="navbar-nav flex-row">
			<!--Chirp Count-->
			<li class="nav-item">
				<%= link_to current_user, class: "nav-link" do %>
					<small id="following" class="stat"><b>Chirps</b><br><%= @user.chirps.count %></small>
				<% end %>
			</li>
			<!--Following Count-->
			<li class="nav-item">
				<a href="<%= following_user_path(@user) %>" class="nav-link">
					<small id="following" class="stat"><b>Following</b><br><%= @user.following.count %></small>
				</a>
			</li>
			<!-- Followers Count -->
			<li class="nav-item">
				<a href="<%= followers_user_path(@user) %>" class="nav-link">
					<small id="followers" class="stat"><b>Followers</b><br><%= @user.followers.count %></small>
				</a>
			</li>
			<!--Likes Count-->
			<li class="nav-item">
				<a href="<%= liked_chirps_user_path(@user) %>" class="nav-link">
					<small id="likes" class="stat"><b>Likes</b><br><%= @user.find_liked_items.count %></small>
				</a>
			</li>
		</ul>
		<!--Follow/Unfollow || Edit Profile-->				
		<% if (current_user == @user) %>
			<%= button_to "Edit profile", edit_user_path(current_user), method: :get, class: "btn-round btn-outline-dark" %>
		<% elsif logged_in? %>
			<%= render 'forms/follow_form' %>
		<% end %>
	</nav>	
</div>