<div class="navbar-light bg-light row profile-nav">
	<!-- Stats Bar -->
	<nav class="navbar navbar-expand-xs col-xl-6 offset-xl-4 offset-lg-3 offset-sm-4 offset-5">
		<ul class="navbar-nav flex-row">
			<!--Post Count-->
			<li class="nav-item profile-nav-item">
				<%= link_to @user, class: "nav-link text-center" do %>
					<span class="profile-stat-heading">Posts</span><br><span class="profile-stat-number"><%= @user.posts.count %></span>
				<% end %>
			</li>
			<!--Following Count-->
			<li class="nav-item profile-nav-item">
				<a href="<%= following_user_path(@user) %>" class="nav-link text-center">
					<span class="profile-stat-heading">Following</span><br><span class="profile-stat-number"><%= @user.following.count %></span>
				</a>
			</li>
			<!-- Followers Count -->
			<li class="nav-item profile-nav-item">
				<a href="<%= followers_user_path(@user) %>" class="nav-link text-center">
					<span class="profile-stat-heading">Followers</span><br><span class="profile-stat-number"><%= @user.followers.count %></span>
				</a>
			</li>
			<!--Likes Count-->
			<li class="nav-item profile-nav-item">
				<a href="<%= liked_posts_user_path(@user) %>" class="nav-link text-center">
					<span class="profile-stat-heading">Likes</span><br><span class="profile-stat-number"><%= @user.find_liked_items.count %></span>
				</a>
			</li>
		</ul>
		<!--Follow/Unfollow || Edit Profile-->				
		<% if (current_user == @user) %>
			<%= button_to "Edit profile", edit_user_path(current_user), method: :get, class: "btn-round btn-outline-dark float-right" %>
		<% elsif logged_in? %>
			<%= render 'forms/follow_form' %>
		<% end %>
	</nav>	
	<div class="col-xl-2 d-none d-xl-block"></div>
</div>